<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <script src="./jquery.js"></script>
    <script src="./vue.js"></script>
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="./index2.css" />
    <title>罗盘时钟</title>
</head>
<style></style>

<body>
    <div id="sum">

        <div id="message">
            <ul>
                <li class="msgs" v-for="(item,index) in Arrays">{{item}}</li>
            </ul>
        </div>

        <li id="shade"></li>

        <div id="second">
            <ul>
                <li v-for="item in flag">
                    {{item}} </li>
            </ul>
        </div>

        <div id="minute">
            <ul>
                <li v-for="item in flag_minute">
                    {{item}} </li>
            </ul>
        </div>

        <div id="hour">
            <ul>
                <li v-for="item in flag_hour">
                    {{item}} </li>
            </ul>
        </div>

        <div id="year">
            <ul>
                <li id="yearAll">天祈</li>
            </ul>
        </div>

        <div id="mouth">
            <ul>
                <li v-for="item in flag_mouth">
                    {{item.name}} </li>
            </ul>
        </div>

        <div id="solar">
            <ul>
                <li v-for="(item,index) in flag_solar" :key="index" v-on:mouseover="showMsg(index)" v-on:mouseout="hideMsg()" class="mm">
                    {{item.name}} </li>
            </ul>
        </div>

        <div id="data">
            <ul>
                <li v-for="item in flag_data">
                    {{item.name}} </li>
            </ul>
        </div>

        <div id="AP">
            <ul>
                <li v-for="item in flag_AP">
                    {{item.name}} </li>
            </ul>
        </div>
    </div>
</body>
<script src='https://s1.pstatp.com/cdn/expire-1-M/vue/2.2.2/vue.min.js'></script>
<script src="index.js"></script>
</html>

