*{
    padding:0;
    margin:0;
}
body{
    background: url(../img/Background1.png) no-repeat;
    background-size: cover;
}
.containt{
    margin:auto;
}

.login{
    width:400px;
    height:400px;
    margin:auto;
    margin-top: 200px;
    text-align: center;
    border: 5px solid black;
    border-radius: 50px;
    box-shadow: 3px 3px 3px black;
    background-color: rgba(0, 255, 255, 0.15);
}
.login:hover{
    transform: scale(1.1,1.1);
}
.denglu{
    width:200px;
    height:50px;
    margin:auto;
    font-size: 24px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.1);
}
.denglu:hover{
    background-color: aliceblue;
    transform: scale(1.1,1.1);
}

.pp{
	font-weight:bold;
	padding-left:10px;
	padding-bottom: 7px;
	margin:30px;
	font-size: 16px;
	text-shadow:2px 2px 2px white;
	border:5px solid;
	background-color:skyblue;
	border-radius: 50px;
	box-shadow: 5px 5px 5px black;

}
.pp:hover,.fwtk:hover,h1:hover{
	transform: scale(1.1,1.1);
}